body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(to right, #ffe259, #ffa751);
    margin: 0;
    padding: 20px;
    color: #2c2c2c;
}

h1 {
    text-align: center;
    color: #9c4904;
}

hr {
    width: 70%;
    border: 1px solid #ff6f00;
}

.label-cell {
    font-weight: bold;
    background-color: #fce4ec;
    width: 30%;
    color: #9c4904;
}

.input-box {
    width: 95%;
    padding: 8px;
    border: 2px solid #ff7043;
    border-radius: 8px;
    font-size: 14px;
}

.photo-box {
    width: 160px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 10px;
}

.footer-links {
    text-align: center;
    background-color: #fce4ec;
}

.privacy-text {
    text-align: center;
    margin-top: 10px;
    color: #880e4f;
}

table {
    width: 70%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: #fffde7;
}

td {
    padding: 10px;
    height: 40px;
    border: 2px solid #ffb300;
}

a {
    color: #d81b60;/
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: #ff6f00;
    text-decoration: underline;
}

a:active {
    color: #c62828;
}

input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 6px rgba(142, 36, 170, 0.6);
    
}

input::placeholder {
    color: #6d4c41;
    font-style: italic;
    
}

.photo-box img {
    width: 120px;
    height: 150px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.photo-box img:hover {
    transform: scale(1.08);
}

input[type="email"] {
}

input[type="tel"] {
}

.submit-btn {
    padding: 10px 25px;
    background-color: #ff7043;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
